@import '../../../scss/mixin_breakpoint';
@import '../../../scss/calypso-colors';

.jp-setup-wizard-form-toggle-container {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0 2rem;

	position: relative;
}

.jp-setup-wizard-feature-toggle {
	display: grid;
	grid-template-rows: 80px;
	grid-template-columns: auto auto 1fr;

	@include breakpoint( '<960px' ) {
		grid-template-rows: 100px;
	}

	border: 1px solid #ccd0d4;
	border-radius: 4px;
}
.jp-setup-wizard-feature-toggle-content-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.jp-setup-wizard-feature-toggle-content {
	text-align: left;

	span {
		font-weight: bold;
		margin-right: 0.5rem;
	}
}

.jp-setup-wizard-feature-toggle-button-container {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0 2rem;

	p {
		font-size: 0.5rem;
		font-style: italic;
		text-align: right;
		color: lighten( $gray, 10% );
	}
}

.dops-button {
	width: 150px;
}

.jp-setup-wizard-form-toggle-container {
	.gridicons-star {
		display: none;
	}

	&.is-paid-feature {
		&::before {
			content: '';
			width: 0px;
			height: 0px;
			border-top: 35px solid #4ab866;
			border-right: 35px solid transparent;
			position: absolute;
			top: 0;
			left: 0;
		}

		.gridicons-star {
			display: block;
			color: white;
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
		}
	}
}
